# All text start with this hash sign will be considered as comment
# To see the details meaning of these variable, please look over config.h

# File name without space, place data file in the same directory where your executable is
DATA_FILE_NAME = input_B.csv;

# File selection
# 0: Combined with genome A and B
# 1: Consider only genome B
GENOME = 1;

# Indicates the number of filters
# Our solution currently works for at most 2 filters
FILTER = 2;


# 0: filter by DAP
# 1: filter by Temperature
# 2: filter by solar radiation
# 3: filter by humidity
# 4: filter by growth rate
FILTER_1 = 0;
FILTER_2 = 3;

# 0: cluster by DAP
# 1: cluster by Temperature
# 2: cluster by solar radiation
# 3: cluster by humidity
# 4: cluster by Growth rate
CLUSTER_ATTRIBUTE = 4;

# The minimum number of points required to form a cluster
CLUSTER_DENSITY = 2;

# The radious of circle centered to a point
CLUSTER_RADIUS = 0.7;

# Filter overlap
OVERLAP = 0.92;

# Number of buckets along Filter 1
WINDOW_X = 30;

# Number of buckets along Filter 2
WINDOW_Y = 5;

# Total environmental attributes in the dataset
ENV_ATTR = 4;

# If dataset contians valid plant id and they are concatenated
PLANT_ID_LIST = true;

# Perfipheral point's weight
PERIF_WEIGHT = 0.5;

# Ration of weight from core point to peripheral point
CORE_BY_PREIF = 2;

# If edge weight is zero, replace zero with this weight
NEGLIGIBLE_WEIGHT = 0.00001;

# Minimum path length to qualify for an interesting path
MINIMUM_PATH_LENGTH = 3;

# Tolerance level for signature relax process
DELTA_CHANGE = 0.0;

# Compute interesting paths based on DAP increase direction or not
INCREASE_DAP = false;

# Match signature or not
MATCH_SIGNATURE = false;

# Updae Gudhi for persistat homology
PRINT_BARCODE = false;

# Generate code to run in javaPlex
PH_JAVA_PLEX = false;

# Build graph keeping phenotyping direction as a reference
REFERENCE_PHENOTYPE = true;

# Environmental index which can be considerd as reference rather than phenotype
REFERENCE_ENV_INDEX = -1;

# Edge width for interesting path
EDGE_WIDTH = 12;

# Edge color
EDGE_COLOR = #a4a4a4;

# Node size range
NODE_SIZE_MAX = 30.0;
NODE_SIZE_MIN = 15.0;

# Generate color for full graph or each connected component separately
HEATMAP_EACH_CC = false;
