/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2018, 3:10:43 PM
    Author     : methun
*/

/* Dropdown Button */
.dropbtn, .dropjbtn {
    background-color: #3498DB;
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: inherit;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /*display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    position: absolute;*/
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Gill, Helvetica, sans-serif;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*///////////////////////////////////////////*/
/* CSS for node drop down */
/*///////////////////////////////////////////*/

#top-nav{min-height: 50px;}

#top-nav ul{
  background-color: #f1f1f1;
  list-style: none;  
  padding-left: 0px;
  border-radius: 10px;
}
#top-nav ul li{
  display: inline-block;
  padding-left: 0px;
  border-radius: 10px;
}

#top-nav ul li a{
  display: block;
  color: black;
  padding: 10px 20px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
}
#top-nav ul li a:hover{background-color: #e6d1d1; color: #000;border-radius: 10px;}

/* Dropdown */
li.dropdown{position: relative;}
ul.dropdown-menu{
  min-width: 120px;
}
ul.dropdown-menu li{
  display: block !important;
  white-space: nowrap;
}

.legend,.pattern { list-style: none; height: 20px;}
.legend li, .pattern li { float: left; margin-right: 10px; }
.legend span, .pattern span { border: 1px solid #ccc; float: left; width: 20px; height: 20px; margin: 2px;}

.flare_options,.flare_legend,
.path_legend, .path_options, 
.cc_legend,.attr_legend,.node_attr_legend,.view_attr_legend,
.feature_legend, path_analysis { list-style: none; height: 20px;}
.flare_options li,.flare_legend li,.path_legend li, .path_options li, .cc_legend li,.attr_legend li,.node_attr_legend li,.view_attr_legend li,.feature_legend li { float: left; margin-right: 5px; }
flare_options span,.flare_legend span,.path_legend span, .path_options span, .cc_legend span,.attr_legend span,.node_attr_legend span,.view_attr_legend span,.feature_legend span { border: 1px solid #ccc; float: left; width: 20px; height: 20px; margin: 2px;}

.modal-init{
    position: absolute; 
    top: 50px; 
    left: 50px; 
    width: 90%; 
    height: auto; 
    z-index: 9999; 
    background-color: white;
}

fieldset legend,
fieldset pattern{text-align: left;}

#tooltip{
    position: absolute;
    display: none;
    z-index: 9999;
    background-color: #f1f1f1;
}

#tooltip div{
    color: black;
    padding: 8px;
    max-width: 500px;
    border-radius: 2px;
    border: 2px solid #ccc;
    background-color: #ddd;
}

#svg-container,#viewer{background-color: black;}

.seldw{background-color: lightblue;}


/* custom dropdown with check box*/
.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  min-width: 208px;
  z-index: 2;
  background-color: #3A3C47;
}
.dropdown-check-list ul.items li {
  list-style: none;
  min-width: 208px;
}
.dropdown-check-list.visible .anchor {
  color: #0094ff;
}
.dropdown-check-list.visible .items {
  display: block;
}
.dropdown-check-list ul.items li label {
  float: left;
  text-align: left;
  min-width: 208px;
}

#attrList ul{
    display: block;
    float: left;
}

#attrList ul li {
    list-style: none;
    display: inline-flex;
}

#attrList ul li label{
    background-color: #3A3C47;
    color: wheat;
    padding: 3px;
}

#attrList span{float: left; display: none;width: 100%;text-align: left;}